body{background-color: white;
}
nav{
 height: 70px;
 width: 100%;  
 background-color:black;
 display: flex;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
 justify-content: space-around;
 align-items: center;
 position: sticky;
 top: 0;}
nav a{
color:white;
 text-decoration: none;
 font-size: 25px;
font-weight: bolder;}
a:hover,.active a{
display: block;
background-color: green;
padding: 20px;
font-weight: bolder;}
.heading{
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
position:absolute;
top: 800px;
color:rgb(82, 6, 82);
font-size: 50px;
text-indent: 500px;}
.name{position:absolute;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
top: 890px;
text-indent: 325%; 
font-size: 50px;
font-weight: bolder; 
color: rgb(220, 20, 143);}
.para{
 top: 1600px;
 position: absolute;
font-size: 25px;
margin: 30px;
font-weight: bold;
color:rgb(82, 6, 82);}
.info{
position: absolute;
top: 2000px;}
.container{
 position: absolute;
text-align: center;}
.top-right{
position: absolute;
top: 2300px;
right: 30px;
font-size: 20px;
font-weight: bold;}
.top-left{
position: absolute;
top: 2300px;
margin-left: 20px;
left: 16px;
clip-path: circle(45%);
}
.head{
top: 3000px;
font-style: inherit;
position: absolute;
font-weight: bold;
color:rgb(82, 6, 82);
margin-left: 550px;
}